<div class="logo"><a class="link" routerLink=""></a> </div>
<app-navbar></app-navbar>
<section class="home">
  
  <video class="video-slide" src="assets/wedding.mp4" autoplay muted loop></video>
  <video class="video-slide" src="assets/birthday.mp4" autoplay muted loop></video>
  <video class="video-slide" src="assets/ring.mp4" autoplay muted loop></video>
  <video class="video-slide" src="assets/child_birthday.mp4" autoplay muted loop></video>
  
  <div class="slider-navigation">
    <div class="nav-btn active"></div>
    <div class="nav-btn"></div>
    <div class="nav-btn"></div>
    <div class="nav-btn"></div>
  </div>
</section>
