.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home:before{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(161, 188, 235, 0.433);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-top: 500px;
    margin-bottom: 12px;
}
.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(25, 138, 194, 0.421);
    transition: 0.3s ease;
}
.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}
.slider-navigation .nav-btn:hover{
    transform: scale(1.2);
}
.slider-navigation .nav-btn.active{
    background: black;
}
.video-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
.video-slide.active{
    clip-path: circle(150% at 0 50%);
}
.home .content{
    z-index: 999;
    position: relative;
}
.home .content.active{
    display: block;
}